body{
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/1004/864/838/fire-heart-love-wallpaper-preview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

p{
    color: white;
}

h1{
    color: white;
}